<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DBConection" connectionString="Data Source=TSERVER;Initial Catalog=recruiting; User ID= 28P3Users; Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="Recruiting.Properties.Settings.DBConection" connectionString="Data Source=TSERVER;Initial Catalog=recruiting;Persist Security Info=True;User ID=28P3Users;Password=123456"
            providerName="System.Data.SqlClient" />
        <add name="DBConection1" connectionString="Data Source=SERGEY-ПК\SQLEXPRESS;Initial Catalog=recruiting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Recruiting.Properties.Settings.DBConection1" connectionString="Data Source=SERGEY-ПК\SQLEXPRESS;Initial Catalog=recruiting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DBConection2" connectionString="Data Source=DESKTOP-S6PRBVA\SQLEXPRESS;Initial Catalog=recruiting;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
